apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  labels:
    app: node-service-nautilus
  name: node-service-nautilus
  namespace: node-namespace-nautilus
spec:
  ports:
  - name: "80"
    nodePort: 30012
    port: 80
    protocol: TCP
    targetPort: 8080
  selector:
    app: node-service-nautilus
  type: NodePort
status:
  loadBalancer: {}
